<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Admin Dashboard</title>

</head>

<body>

<h1>Library Management System</h1>

<hr>

<h2>Admin Dashboard</h2>

<p>

    Welcome

    <b th:text="${user.fullName}"></b>

</p>

<a th:href="@{/logout}">

    Logout

</a>

<hr>

<h2>User Management</h2>

<form th:action="@{/admin/users/search}" method="get">

    <input
            type="text"
            name="keyword"
            th:value="${keyword}"
            placeholder="Search username">

    <button type="submit">

        Search

    </button>

</form>

<br>

<a th:href="@{/admin/users/add}">

    Add User

</a>

<hr>
<table border="1">

    <tr>

        <th>ID</th>

        <th>Username</th>

        <th>Full Name</th>

        <th>Role</th>

        <th>Status</th>

        <th>Action</th>

    </tr>

    <tr th:each="u : ${users}">

        <td th:text="${u.id}"></td>

        <td th:text="${u.username}"></td>

        <td th:text="${u.fullName}"></td>

        <td th:text="${u.role}"></td>

        <td th:text="${u.status}"></td>

        <td>

            <a th:href="@{/admin/users/edit/{id}(id=${u.id})}">

                Edit

            </a>

            <br><br>

            <form
                    th:if="${u.status=='active'}"
                    th:action="@{/admin/users/lock}"
                    method="post"
                    onsubmit="return confirm('Bạn chắc chắn muốn khoá user này?');">

                <input
                        type="hidden"
                        name="id"
                        th:value="${u.id}">

                <button type="submit">

                    Lock

                </button>

            </form>

            <form
                    th:if="${u.status=='locked'}"
                    th:action="@{/admin/users/unlock}"
                    method="post"
                    onsubmit="return confirm('Bạn chắc chắn muốn mở khoá user này?');">

                <input
                        type="hidden"
                        name="id"
                        th:value="${u.id}">

                <button type="submit">

                    Unlock

                </button>

            </form>

            <br>

            <form
                    th:action="@{/admin/users/change-role}"
                    method="post"
                    onsubmit="return confirm('Bạn chắc chắn muốn đổi quyền user này?');">

                <input
                        type="hidden"
                        name="id"
                        th:value="${u.id}">

                <select
                        name="role">

                    <option
                            value="admin"
                            th:selected="${u.role=='admin'}">

                        Admin

                    </option>

                    <option
                            value="manager"
                            th:selected="${u.role=='manager'}">

                        Manager

                    </option>

                    <option
                            value="customer"
                            th:selected="${u.role=='customer'}">

                        Customer

                    </option>

                </select>

                <button type="submit">

                    Change

                </button>

            </form>

        </td>

    </tr>

</table>

</body>

</html>